@using MM.Library;
@using mmMVC.Models;
@if (Request.IsAuthenticated) {

    var myContext = new UsersContext();

    var myName = myContext.GetFriendlyName(Csla.ApplicationContext.User.Identity.Name);
   
  <span>      Hello, @Html.ActionLink(myName, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!</span>
  <span>    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
  </span>
    
} else {
    <div style=" padding:8px">    
        <span  class="btn btn-small">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</span>
        <span > | </span>
        <span class="btn btn-small" >@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
    </div>
 
  
}
