@{
    ViewBag.Title = "Home Page";
}
<section class="">
    <div class="hero-unit">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</section>
<div class="container">
    <h3>
        We suggest the following:</h3>
    <div class="row">
        <div class="span4">
            <div class="well sidebar-nav">
                <h4>
                    Getting Started</h4>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and that gives you full control over markup
                for enjoyable, agile development. ASP.NET MVC includes many features that enable
                fast, TDD-friendly development for creating sophisticated applications that use
                the latest web standards. <a href="http://go.microsoft.com/fwlink/?LinkId=245151" class="btn btn-primary" data-loading-text="Loading...">Learn
                    more…</a>
            </div>
        </div>
        <div class="span4">
            <div class="well sidebar-nav">
                <h4>
                    Add NuGet packages and jump-start your coding</h4>
                NuGet makes it easy to install and update free libraries and tools.
                 <a href="#" class="btn btn-primary" data-loading-text="Loading..." >
                    Learn more…</a>
                



            </div>
        </div>
        <div class="span4">
            <h4>
                Find Web Hosting</h4>
            You can easily find a web hosting company that offers the right mix of features
            and price for your applications. 
            <a href="http://go.microsoft.com/fwlink/?LinkId=245157"
            class="btn btn-primary" data-loading-text="Loading..."
            >
                Learn more…</a>
        </div>
    </div>
</div>


