@{
    ViewBag.Title = "Mega Self Storage Center";
}
<section class="">
    <div class="hero-unit">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
</section>
<div class="container">
    <h3>
        We suggest the following:</h3>
    <div class="row">
        <div class="span4">
            <div class="well">
                <h4>
                    Getting Started</h4>
                Go to our Reservation page and and choose the Storage unit that's right for your
                needs.
                <br />
                <a href="http://go.microsoft.com/fwlink/?LinkId=245151" class="btn btn-primary" data-loading-text="Loading...">
                    Learn more…</a>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h4>
                    Add NuGet packages and jump-start your coding</h4>
                NuGet makes it easy to install and update free libraries and tools. <a href="#" class="btn btn-primary"
                    data-loading-text="Loading...">Learn more…</a>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h4>
                    Find Web Hosting</h4>
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications. <a href="http://go.microsoft.com/fwlink/?LinkId=245157"
                    class="btn btn-primary" data-loading-text="Loading...">Learn more…</a>
            </div>
        </div>
    </div>
</div>


